.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: #264d7daa;
}

.fullscreen > h1 {
    position: inherit;
    top: 100px;
}

.pop-up-box {
    position: inherit;
    translate: 0 calc(50vh - 50%);
    width: 80vw;
    height: 40vh;
    border: 3px solid #264d7d;
    border-radius: 10px;
    background-color: #dcdcdc;
}